body {
    background: rgb(220, 231, 239);
}

a {
  color:rgb(100, 137, 186);
}

.App-Header {
  text-align: center;
  font-size: 30px;
  margin: 30px 0;
  font-size: 40px;
  font-weight: bold;
}

.App-Main {
  margin: 0 auto;
}

.App-Footer {
  text-align:center;
  margin: 30px 0;
  font-size: 16px;
  color: rgb(55, 54, 54);
}