.Dictionary section {
    background: rgb(197, 226, 217);
    border-radius: 16px;
    box-shadow: 0 8px 10px rgb(0 0 0 / 10%);
    padding: 30px;
    margin: 20px 0;
}

.Dictionary input {
    width: 100%;
    padding: 6px;
    border: 1px solid #ddd;
    border-radius: 8px;
    
}

.Dictionary .suggestions {
    font-size: 14px;
    margin-top: 5px;
}